body{
    background:white;
}
h1{
    width: 1500px;
    font-size: 25px;
    text-align: center ;
    background-color: yellow;
    margin-bottom: 5px;
    
}
th{
    background: white;
    color:black;
}
table ,th ,td {
    
display :block

margin: 0px;
border: solid white 1px;
border-collapse:collapse;
margin-bottom: 5px;
font-family:Arial
font-size:3px;
height: 30px;
text-align:center
}
th{
    text-align: left;
    background-color: black;
    color: white;

}
td{
    text-align: center;
}
table{
    width: 1500px;
}
#a1{
    width: 35px; 
    writing-mode:vertical-rl;
    transform: rotate(-180deg);
    background-color: black;
    color: white;
    border: solid white 1px;
    border-collapse:collapse;
    font-weight: bold;
}
#a2{
    width: 400px;
    font-decoration: bolder ;
    background-color: rgba(128, 128, 128, 0.900);
    font-weight: bold;
    color: white; 
}
#a3{
    width:100px;
    background-color: black;
    color: white;
    font-weight: bold;

}
#a4{
    width:100px;
    background-color: black;
    color: white;  
    font-weight: bold; 
    text-align:center 
}
#a5{
    width:100px;
    background-color: black;
    color: white;  
    font-weight: bold; 
    text-align:center 
}
#a6{
    background-color: rgb(140, 140, 140);
    font-weight: bold;
    color: white; 
    text-align:center
}
#a7{
    background-color: rgb(140, 140, 140);
    font-weight: bold;
    color: white; 
    text-align:center
}
#a8{
    background-color: rgb(190, 190, 190);
    color:black;
    text-align:center
}
#a9{
    background-color:rgb(255, 255, 255);
    color:black;
    text-align:center
}
#a10{
    background-color: rgb(190, 190, 190);
    color:black;
    border-bottom: 1px;
    border-color:white;
    text-align:center
}
#a11{
    background-color:rgb(255, 255, 255);
    color:black;
    text-align:center
}

#a13{
    background-color:rgb(0, 0, 0);
    color:white;
    text-align:center
}
#a14{
    background-color:rgb(220, 220, 220);
    color:#fff;
    text-align:center
}
#a15{
    background-color:rgb(220, 220, 220);
    color:#fff;
    text-align:center
}
#a16{
    background-color:rgb(220, 220, 220);
    color:#fff;
    text-align:center
}
