img{
    width: 60% ;
    height: 60%;
    float:right;
}
.bemutato{
    text-align: left;
    color: blueviolet;
    width: 100px;
    height: 100px;
}
body{
    background-color: yellow;
    width: 800px;

}

table, td{
    border: solid green 5px;
}
th{
    text-align: center;
}
table{
    width: 420px
}
p{
    font-size: larger;
}