h1 
{text-align: center;
text-decoration: underline;
margin-top: 20px;
margin-bottom: 50px;
border: 2px solid  tomato;
text-align: center;}

body

#bemutatas 
{border: 1px solid blue;
width: 900px;
align-content: center;
text-align: center;
margin-right: 40px;
margin-left: 500px;}

p {margin-left: 300px;font-family: serif;
font-size: larger;}

#motorizacio
{border: 1px solid blue;
    width: 900px;
    align-content: center;
text-align: center;
margin-right: 40px;
margin-left: 500px;}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 700px;}
