body{
    margin: 0 0 0 0;
    background-color: #c5c4c2;
    color: #131205;
}

#tartalom{
    width: 80%;
    align-self: center;
    margin: 0 auto;
}
    

.Renault{
    width: 100%;
    float: center;
    background-size: 100% 100%;
    align-self: center;
    clear: both;   
    box-shadow: none; }

#banner {
    width: auto;
    align-self: center;
    vertical-align: bottom;
    background-size: 100% 100%;
    border-bottom: solid #131205;}

#Forrás{
    text-align: right;
    margin-bottom: 50px;
    font: italic; }

table{
        width: 100%;
        align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 10px;}

#tesztvez {
    width: 100%;
    display: auto;
    text-align: right;
    position: center;
}

#hivatalos {
    width: 100%;
    display: auto;
    text-align: left;
    position: center;


}