#tartalom{
        width: 80%;
        align-self: center;
        margin: 0 auto;}

.Renault{
    width: 100px;
    float: right;
    background-size: 100px 100px;
    clear: both;   
    box-shadow: none; }

    #banner {
        width: 600px;
        align-self: center;
        vertical-align: bottom;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-bottom: solid #70423a;}

